<div class="col-md-4">
    <h2>Contact Form</h2>
  <form #f="ngForm" (ngSubmit)="submit(f)" >
    <div #contact="ngModelGroup" ngModelGroup="contact">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input
                required
                minlength="3"
                maxlength="10"
                pattern="banana"
                ngModel
                #firstName="ngModel"
                (change)="log(firstName)"
                name="firstName"
                type="text"
                id="firstName"
                class="form-control" />
            <div
              class="alert alert-danger"
              *ngIf="firstName.touched && !firstName.valid">
              <div *ngIf="firstName.errors.required">
                First Name is required
              </div>
              <div *ngIf="firstName.errors.minlength">
                First name should be minimum {{ firstName.errors.minlength.requiredLength }} characters
              </div>
              <div *ngIf="firstName.errors.pattern">
                First name does'nt match the pattern
              </div>
            </div>
          </div>
    </div>

    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea ngModel #comment="ngModel" class="form-control" name="comment" id="comment" cols="30" rows="10"></textarea>
    </div>
    <div class="checkbox">
      <label for="">
          <input ngModel #subscribe="ngModel" name="isSubscribed" type="checkbox"> Subscribe to mailing list
      </label>
    </div>
    <div class="form-group">
      <label for="contactMethod">Contact Method</label>
      <select multiple ngModel #contactMethod="ngModel" name="contactMethod" id="contactMethod" class="form-control">
        <option *ngFor="let method of contactMethods" [value]="method.id">{{ method.name }}</option>
      </select>
    </div>
    <div *ngFor="let method of contactMethods" class="radio">
      <label for="">
          <input ngModel type="radio" [value]="method.id" name="contactMethod">
          {{ method.name }}
      </label>
    </div>
    <p>
      {{ f.value | json }}
    </p>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
  </form>
</div>
